.progres_bar_ex {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFF;
    opacity: 0.90;
    z-index: 1111;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.progres_bar_ex .loading {
    display: block;
    position: fixed;
    left: 50%;
    top: 40%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #389e08;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 111;
}

.progres_bar_ex .loading_block {
    display: block;
    position: fixed;
    left: 50%;
    top: 40%;
    width: 380px;
    height: 60px;
    margin-left: -190px;
}

.progres_bar_ex .loading:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #389e08;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.progres_bar_ex .loading:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #389e08;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

.select2-results__option[aria-selected=true] {
    display: none;
}

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: .5em 0;
}

div.dataTables_processing {
    background: #22dd2f;
    color: #fff;
    font-weight: bold;
}

/*****new css added by g*/

.contact_form_add_people .select2-container, .contact_form_add_people ul.tagit {
    width: 100% !important;
    margin-left: 27px;
}

.select2-container--default .select2-selection--multiple, .contact_form_add_people ul.tagit {
    border-radius: 13px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.16);
    border: 1px solid #707070;
}

ul.tagit input[type="text"], .select2-container .select2-search--inline .select2-search__field {
    margin-left: 0;
    border-radius: 4px;
    padding: 0 4px;
    border: none !important;
}

span.tagit-label {
    color: #fff!important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #707070;
    border-radius: 13px;
    min-height: 50px;
    box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.16);
    padding-top: 10px;
    padding-bottom: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
    color: #000000;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 11px;
    right: 6px;
}

span.select2-container.select2-container--default.select2-container--open {
    z-index: 99999999;
}

.chat-mediaBox {
    position: relative;
    padding-right: 18px;
}

.chat-mediaBox .fa-pencil {
    position: absolute;
    top: 0;
    right: 0;
}

.dashboard-content .dataTables_info {
    padding-left: 30px;
}

@media (min-width:768px) {
    .dashboard-content .overflow-auto {
        overflow: hidden !important;
    }
}

@media (max-width:767.98px) {
    .contact_form_add_people .select2-container, .contact_form_add_people ul.tagit {
        margin-left: 0;
    }
    .dashboard-content .overflow-auto {
        display: block;
        width: 100%;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar
    }
    .select2-container--default .select2-selection--single {
        border: 1px solid #707070;
        border-radius: 13px;
        min-height: 38px;
        box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.16);
        padding-top: 4px;
        padding-bottom: 10px;
    }
}

li.select2-selection__choice {
    background-color: #22dd2f!important;
    border: 1px solid #22dd2f!important;
    color: #fff!important;
}

span.select2-selection__choice__remove:hover {
    color: #E91E63!important;
}

span.text-icon:hover {
    color: #E91E63!important;
}

span.select2-selection__choice__remove {
    color: #fff!important;
    margin-left: 2px;
    float: right;
}

span.text-icon {
    color: #fff!important;
}

ul.pagination {
    margin: 0 25px 10px;
    float: right;
}

li.tagit-choice.ui-widget-content.ui-state-default.ui-corner-all.tagit-choice-editable {
    border: 1px solid #CAD8F3!important;
    background: none;
    background-color: #22dd2f!important;
}

.page-item.active .page-link {
    background-color: #22dd2f!important;
    border-color: #22dd2f!important;
}

.chat-user .chat-desc-left.unread {
    font-weight: bold;
}

.chat-user i.fa.fa-users, .chat-user i.fa.fa-user {
    color: #9E9E9E;
}

.chat-user .unread i.fa.fa-users {
    color: #000;
}

.active .chat-user i.fa.fa-users, .active .chat-user i.fa.fa-user {
    /*color: #fff;*/
    color: #35c83b;
}

#hover {
    display: block;
    position: relative;
    width: 10px;
}

#hover:hover {
    width: auto;
}

#popup {
    opacity: 1;
    position: absolute;
    top: 2px;
    border-radius: 0px;
    height: 0px;
    padding: 0 12px;
    background: #dddddd;
    overflow: hidden;
    /*-webkit-transition: all 500ms;
    transition: all 500ms;*/
}

#hover:hover #popup {
    padding: 2px;
    height: auto;
    opacity: 1;
    z-index: 999;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.has-sub li.active a {
    color: #22dd2f;
    font-weight: bold;
}

.red {
    color: red
}

.green {
    color: #22dd2f
}

.text-center {
    text-align: center;
}

.alert.ui-pnotify-container.alert-success.ui-pnotify-shadow {
    color: #fff;
    background-color: #22dd2f;
    border-color: #22dd2f;
    padding: 5px;
}

.ui-pnotify-container .ui-pnotify-text {
    display: inline-block;
    padding: 0 15px 0 0;
}

.ui-pnotify-container span.fa.fa-check {
    margin-top: 0.4em;
}

.alert.ui-pnotify-container.alert-danger.ui-pnotify-shadow {
    padding: 5px;
    background-color: #e02838;
    border-color: #f5c6cb;
    color: #fff;
}

.ui-pnotify.ui-pnotify-fade-normal {
    width: auto!important;
}

.ui-pnotify-container span.fa.fa-warning {
    margin-top: 0.4em;
}

.group-content .chat-app-header {
    padding: 14px 15px 21px;
}

table, tr, td, th {
    border: none;
    border-collapse: collapse;
}

#urlShortner {
    cursor: pointer;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #22dd2f !important;
    color: white;
    important;
}

.header-setting .user-setting .fa-gear:hover, .header-setting .user-links .fa-link:hover {
    color: #22dd2f;
}

.jconfirm-hilight-shake.jconfirm-type-green.jconfirm-type-animated {
    border-top: solid 5px #22dd2f!important;
}

.breadcrumb-Name, .breadcrumb-Name>li {
    color: #22dd2f;
    font-weight: 600;
    display: inline;
}

.breadcrumb-Name .mainLevel {
    color: inherit;
    text-decoration: none;
    letter-spacing: .5px;
}

.breadcrumb-Name .breadcrumb__divider {
    font-size: 22px;
}

.breadcrumb-Name .subLevel {
    color: #000000;
    text-decoration: none;
    letter-spacing: .5px;
    font-size: 15px;
}
