@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('font-awesome.min.css');
@import url('bootstrap.min.css');
@import url('style.css');
@import url('media.css');

/*                    
==============================================
             Commom Css Here [Reset] 
==============================================*/

* {margin:0px; padding:0px; border:none; outline:none;}

body { font-family: 'Montserrat', sans-serif;  font-size:18px; color:#000000; line-height:36px; font-weight:400; background:#ffffff; }

h1, h2, h3, h4, h5, h6 {
    margin:0px;
}
h1 {font-size: 65px; font-weight:bold; line-height: 78px; }
h2 { font-size: 48px; line-height: 60px; font-weight:bold;}
h3 {font-size: 33px; font-weight: 400; line-height: 47px;}
h4 { font-size: 25px; line-height: 36px; font-weight: 500; }

a, button{ text-decoration:none; cursor:pointer; outline: none; font-size: 16px; line-height: 24px; box-shadow: none; }

a:hover,a:focus,a:visited, .btn:focus, button:focus{text-decoration:none; outline:none; box-shadow: none;}

input,button,select,textarea{}

ul,li{list-style:none; padding:0px; margin:0px; }

img {max-width: 100%;}


/*          Reset Media Css 
=================================*/
@media screen and (max-width: 1600px) {
  h1 {font-size: 50px; line-height: 62px; }
  h2 {font-size: 38px; line-height: 50px; }
  h3 {font-size: 25px; line-height: 32px; }
  h4 {font-size: 20px; line-height: 32px; }
  body {
      font-size: 16px;
      line-height: 32px;
  }
}

@media screen and (max-width: 1400px) {
  h1 {font-size: 40px; line-height: 48px; }
  h2 {font-size: 32px; line-height: 40px; }
  h4 {font-size: 18px; line-height: 28px; }
}

@media screen and (max-width: 1199px) {
  h1 {
      font-size: 36px;
      line-height: 44px;
  }
  body {
      font-size: 14px;
      line-height: 26px;
  }
  h3 {
      font-size: 22px;
      line-height: 30px;
  }

}
@media screen and (max-width: 991px) {
  body {
      font-size: 13px;
      line-height: 24px;
  }
  h1 {
      font-size: 28px;
      line-height: 36px;
  }
  h3 {
      font-size: 20px;
      line-height: 26px;
  }
  h4 {
      font-size: 16px;
      line-height: 24px;
  }
}
@media screen and (max-width: 767px) {
   h1 {
      font-size: 22px;
      line-height: 28px;
  }
   h3 {
        font-size: 18px;
        line-height: 24px;
  }
  h4 {
    font-size: 15px;
    line-height: 24px;
  }

}
@media screen and (max-width: 479px) {
  h1 {
      font-size: 20px;
      line-height: 26px;
  }
  h4 {
      font-size: 14px;
      line-height: 20px;
  }
}