@media screen and (max-width: 1600px) {
    .btn-theme {
        font-size: 20px;
    }
    .banner-cont h4 {
        margin-bottom: 35px;
    }
    .banner-cont h1 {
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 1400px) {
    .main-menu li.nav-item > a {
        font-size: 15px;
    }
    .main-menu li.nav-item {
        margin-right: 25px;
    }
    .btn-theme {
        font-size: 18px;
        padding: 12px 35px;
    }
    .sec-inr-gap {
        padding: 70px 0px;
    }
    .view-more .btn {
        min-width: 165px;
    }
    .services-sec1 .srv-img {
        bottom: -150px;
        min-width: 100%;
        left: -15px;
    }
    .services-sec2 .srv-img {
        min-width: 600px;
        top: -25px;
    }
    .services-sec2 {
        padding: 135px 0px 30px;
    }
    .client-feedbk p {
        font-size: 18px;
        line-height: 32px;
    }
    .footer-top {
        padding: 90px 0px 30px;
    }
    .footer-ttl {
        font-size: 18px;
        margin-bottom: 20px;
    }
    .about-footer p {
        font-size: 15px;
        line-height: 26px;
    }
    .footer-menu li > a, .footer-menu li > span {
        font-size: 15px;
    }
    .footer-copyright {
        padding: 20px 0px;
    }
    .footer-copyright p {
        font-size: 14px;
    }
    .testimonial-sec {
        padding: 35px 0px;
    }
    .testmnl-block {
        max-width: 50%;
    }
    .testimonial-sec {
        background-position: center center;
    }
    .sevice-cont p {
        margin-bottom: 20px;
    }
    .services-sec1 {
        padding: 40px 0px;
    }

}
@media screen and (max-width: 1199px) {
    body {
        font-size: 16px;
        line-height: 24px;
    }
    .sign-card-box {
        padding: 25px 25px 30px;
    }
    .form-field {
        height: 50px;
        font-size: 16px;
    }
    .sign-head > p {
        font-size: 16px;
    }
    .btn-theme {
        font-size: 16px;
        padding: 10px 30px;
    }
    .sign-options > p {
        font-size: 15px;
    }
    .signInUp-cont > p {
        font-size: 18px;
        line-height: 28px;
    }
    .signInUp-cont h3 {
        font-size: 28px;
    }
    .navbar-header {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .logo-brand {
        max-width: 180px;
    }
    .main-menu li.nav-item > a {
        font-size: 14px;
    }
    .main-menu li.nav-item {
        margin-right: 15px;
    }
    .btn-small {
        padding: 5px 20px !important;
        font-size: 13px !important;
    }
    .banner-cont h4 {
      margin-bottom: 25px;
    }
    .banner-cont h1 {
        margin-bottom: 20px;
    }
    .banner-cont h4 {
       line-height: 32px;
    }
    .banner-sec {
        padding: 130px 0px 30px;
    }
    .services-sec1 .sevice-cont {
        padding: 35px 20px 30px;
    }
    .sevice-cont p {
        margin-bottom: 15px;
    }
    .services-sec2 .srv-img {
        min-width: 530px;
    }
    .client-feedbk p {
        font-size: 15px;
        line-height: 26px;
    }
    .about-client p {
        font-size: 17px;
    }
    .client-fig {
        width: 125px;
        height: 125px;
        margin: 0px auto 15px;
    }
    .footer-top {
        padding: 60px 0px 30px;
    }
    .footer-menu > li {
        margin-bottom: 0px;
    }
    .about-footer p {
        font-size: 14px;
        line-height: 24px;
    }
    .footer-menu li > a, .footer-menu li > span {
        font-size: 14px;
        line-height: 24px;
    }
    .about-cont p {
        margin-bottom: 15px;
    }
    
}
@media screen and (max-width: 991px) {
    .sign-inup-fig {
        padding-right: 15px;
    }
    .sign-logo {
        max-width: 180px;
        margin-bottom: 20px;
    }
    .sign-head > h5 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    .sign-head > p {
        font-size: 14px;
        line-height: 20px;
    }
    .sign-card-box {
        padding: 30px 20px 20px;
    }
    .form-field {
        height: 40px;
        font-size: 15px;
        padding: 8px 40px 8px 15px;
    }
    span.field-icon {
        padding: 2px 15px 2px 8px;
    }
    .field-icon > img {
        max-width: 20px;
    }
    .btn-theme {
        font-size: 15px;
        padding: 8px 25px;
    }
    .sign-options > p {
        font-size: 14px;
    }
    .signInUp-cont > p {
        font-size: 16px;
        line-height: 24px;
    }
    .signInUp-cont h3 {
        font-size: 22px;
        margin-bottom: 15px;
    }
    .signInUp-cont {
        padding-left: 42px;
    }
    
    .checkbox-field label {
        font-size: 15px;
        line-height: 24px;
    }
    .footer-copyright {
        padding: 12px 0px;
    }
    .about-footer {
        margin-bottom: 20px;
    }
    .footer-ttl {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .about-footer > a {
        max-width: 185px;
    }
    .footer-top {
        padding: 45px 0px 30px;
    }
    .footer-copyright p {
        font-size: 13px;
    }
    .navbar-toggler::before {
        position: absolute;
        content: "";
        width: 34px;
        height: 2px;
        background-color: #22dd2f;
        top: 0px;
        right: 0px;
    }

    .navbar-toggler::after {
        position: absolute;
        content: "";
        width: 34px;
        height: 2px;
        background-color: #22dd2f;
        bottom: 0px;
        right: 0px;

    }
    span.navbar-toggler-icon {
        position: absolute;
        display: inline-block;
        width: 26px;
        height: 2px;
        background-color: #22dd2f;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        right: 0;
    }
    .login-reg {
        margin-right: 50px;
    }
    button.navbar-toggler {
        height: 26px;
        width: 36px;
        text-align: center;
        position: absolute;
        padding: 5px;
        right: 15px;
    }
    .header-menu {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 68px;
        top: 0px;
        background-color: rgba(0, 0, 0, 0.9);
    }
    .main-menu li.nav-item > a {
        font-size: 13px;
        padding: 6px 15px;
        border-bottom: 1px solid #3cdd2f;
        text-transform: uppercase;
    }
    .main-menu li.nav-item:last-child > a  {
        border-bottom: 0px;
    }
    .main-menu li.nav-item {
        margin-right: 0px;
    }
    .navbar-header {
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .banner-sec {
        padding: 90px 0px 30px;
    }
    .banner-cont h1 {
        margin-bottom: 15px;
    }
    .banner-cont h4 {
        line-height: 24px;
    }
    .sec-inr-gap {
        padding: 50px 0px;
    }
    .main-sm-ttl {
        margin-bottom: 20px;
    }
    .banner-cont h4 {
        margin-bottom: 15px;
    }
    .main-sm-ttl {
        margin-bottom: 15px;
    }
    .service-fig {
        margin-top: 25px;
    }
    .services-sec1 .srv-img {
        bottom: 0;
        min-width: 100%;
        left: 0;
        position: relative;
        margin-bottom: -150px;
    }
    .services-sec1 .srv-img, .services-sec2 .srv-img{
        max-width: 600px;
        margin: 0px auto;
        min-width: inherit;
    }
    .services-sec1 {
        padding: 30px 0px;
    }
    .services-sec2 {
        padding: 30px 0px;
    }
    .testmnl-block {
        max-width: 500px;
        margin: 0px auto;
    }
    .about-footer p {
         font-size: 13px;
    }
    .footer-menu li > a, .footer-menu li > span {
        font-size: 13px;
        line-height: 20px;
    }
    .cont-icon > img {
        max-width: 15px;
    }

}
@media screen and (max-width: 767px) {

    body {
        font-size: 14px;
        line-height: 20px;
    }
    .sign-inup-fig figure {
       margin-bottom: 10px;
       text-align: center;
    }
    .sign-card-box {
        margin-top: 15px;
    }
    .sign-inup-sec {
        padding: 35px 0px;
    }
    .signInUp-cont {
        padding-left: 33px;
    }
    .signInUp-cont h3 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .signInUp-cont > p {
        font-size: 14px;
        line-height: 22px;
    }
    .sign-card-box {
        padding: 25px 15px 20px;
        text-align: center;
    }
    .sign-logo {
        max-width: 160px;
        margin: 0px auto 25px;
    }
    .sign-options > p {
        font-size: 13px;
    }
    .form-field {
        height: 38px;
        font-size: 14px;
        padding: 7px 40px 7px 15px;
    }
    .sign-head > h5 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    .checkbox-field label {
        font-size: 14px;
        line-height: 20px;
    }
    .btn-small {
        padding: 4px 15px !important;
        font-size: 13px !important;
    }
    .btn-theme {
        font-size: 14px;
        padding: 8px 20px;
    }
    .about-figure {
        margin-bottom: 15px;
    }
    .footer-widget {
        margin-top: 15px;
    }
    .footer-ttl {
        font-size: 15px;
    }
    .about-footer {
        margin-bottom: 0;
    }
    .about-footer p:last-child {
        margin-bottom: 5px;
    }
    .about-footer > a {
        max-width: 155px;
    }
    .footer-top {
        padding: 30px 0px;
    }  
    .footer-copyright p {
        font-size: 12px;
    } 
    .footer-copyright {
        padding: 8px 0px;
    }
    .logo-brand {
        max-width: 150px;
    }
    .login-reg {
        margin-right: 45px;
    }
    .about-cont {
        text-align: center;
    }
    .services-sec1 .sevice-cont {
        padding: 20px;
    }
    .testimonial-sec {
        padding: 30px 0px;
    }
   .client-fig {
        width: 100px;
        height: 100px;
        margin: 0px auto 15px;
    }
    .client-feedbk p {
        font-size: 13px;
        line-height: 22px;
    }
    .about-client p {
        font-size: 15px;
    }
    .banner-cont h1 {
        margin-bottom: 10px;
    }
    
  
}

@media screen and (max-width: 479px) {
    .logo-brand {
        max-width: 135px;
    }
    .btn-small {
        padding: 4px 10px !important;
        font-size: 12px !important;
    }
    .banner-cont h4 {
        line-height: 22px;
    }
}