
@font-face {
    font-family: 'Proxima_Nova';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Regular.woff2') format('woff2'),
        url('../fonts/ProximaNova-Regular.woff') format('woff'),
        url('../fonts/ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima_Nova';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Semibold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Semibold.woff') format('woff'),
        url('../fonts/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima_Nova';
    src: url('../fonts/ProximaNova-Bold.eot');
    src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/ProximaNova-Bold.woff2') format('woff2'),
        url('../fonts/ProximaNova-Bold.woff') format('woff'),
        url('../fonts/ProximaNova-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
.form-control::-webkit-input-placeholder {
  color: #989A9B;
}
.form-control::-moz-placeholder { 
  color: #989A9B;
}
.form-control:-ms-input-placeholder { 
  color: #989A9B;
}
.form-control:-moz-placeholder { 
  color: #989A9B;
}
.sec-inr-gap {
    padding: 100px 0px;
}
.container {
    max-width: 1600px;
}
main section {
    overflow: hidden;
}
/*             header Css 
================================= */
.navbar-header {
    left: 0;
    right: 0;
    top: 0;
    z-index: 9;
    padding-top: 25px;
    padding-bottom: 25px;
}
.main-menu li.nav-item {
    margin-right: 35px;
}
.main-menu li.nav-item > a {
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
}
.main-menu li.nav-item  > a:hover {
    color: #22dd2f;
}
.btn-theme {
    font-size: 22px;
    color: #000;
    border: 1px solid #22dd2f;
    border-radius: 30px;
    padding: 16px 45px;
    box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.16);
    font-weight: 500;
    position: relative;
    overflow: hidden;
}
.btn-theme,
.btn-theme::after {
  -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-theme::before,
.btn-theme::after {
  background: #3cdd2f;
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 30px;
}

/* BUTTON 1 */
.btn-theme::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0%;
}
.btn-small {
    font-size: 14px !important;
    padding: 6px 25px;
} 
.btn-green {
    background-color: #3cdd2f;
    color: #000;
}
.btn-reg {
    color: #fff;
}
.btn-theme:hover {
    background-color: transparent;
    color: #ffffff;
}
.btn-theme:hover::after {
   width: 101%;
}
.banner-sec {
    background-image: url('../images/banner.jpg');
    padding: 190px 0px 40px;
    background-size: cover;
    background-repeat: no-repeat;
        position: relative;
}
.banner-sec .container {
    max-width: 1250px;
}
.banner-sec::after {
    position: absolute;
    content: "";
    background-color: rgba(0,0,0,0.2);
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}
.banner-cont {
    color: #fff;
    max-width: 835px;
    position: relative;
    z-index: 2;
}
.banner-cont h1 {
    margin-bottom: 45px;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
.banner-cont h4 {
    margin-bottom: 50px;
    font-weight: 400;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.16);
    line-height: 40px;
}
.main-sm-ttl {
    margin-bottom: 30px;
        text-shadow: 1px 1px 1px rgba(0,0,0,0.16);
}
.main-sm-ttl > strong{
   font-weight: 600;
}
.about-cont p {
    margin-bottom: 25px;
}
.view-more .btn {
    min-width: 225px;
}
/* ====== Service Section   ========
==================================== */
.services-sec1 {
     background-image: url('../images/bg-img1.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
}
.x-small-ttl {
    margin-bottom: 15px;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.16);
}
.services-sec1 .srv-img {
    position: absolute;
    bottom: -180px;
    z-index: 2;
    min-width: 680px;
}
.sevice-cont p {
    margin-bottom: 25px;
}
.sevice-cont p:last-child {
    margin-bottom: 0;
}
.services-sec2 {
    padding: 155px 0px 40px;
}
.services-sec2 .srv-img {
    min-width: 750px;
    position: relative;
    top: -45px;
}
.services-sec1 .sevice-cont {
    padding: 65px 55px 50px;
    background-color: rgba(255,255,255,0.2);
}
.services-sec1 {
    padding: 50px 0px;
}
/*        Testimonial sec
================================== */
.testimonial-sec {
    background-image: url('../images/bg-img2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; 
    background-position: center right;
}
.testimonial-sec {
    padding: 45px 0px;
    position: relative;
}
.testimonial-sec::after {
    position: absolute;
    content: "";
    background-color: rgba(255,255,255,0.3);
    left: 0px;
    top: 50%;
    right: 0px;
    height: calc(100% - 42px);
    transform: translateY(-50%);
}
.testmnl-block {
    max-width: 740px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.client-fig {
    width: 155px;
    height: 155px;
    margin: 0px auto 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #f5f5f5;
}
.client-feedbk p {
    font-size: 20px;
    font-style: italic;
    line-height: 40px;
    text-shadow: 0px 3px 6px rgba(0,0,0,0.16);
}
.about-client h4 {
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.16);
    font-weight: 400;
}
.about-client p {
    font-size: 19px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.16);
}
/*          Footer Section
=================================== */
.footer-top {
    padding: 120px 0px 40px;
}

.footer-ttl {
    font-size: 23px;
    margin-bottom: 30px;
    font-weight: bold;
}
.footer-menu li >a, .footer-menu li > span {
    font-size: 16px;
    color: #000;
    padding: 5px 0px;
    display: block;
}
.about-footer > a {
    max-width: 228px;
    display: inline-block;
    margin-bottom: 20px;
}
.footer-menu li > a:hover {
    color: #22dd2f;
}
.about-footer p {
    font-size: 16px;
}
.cont-icon {
    margin-right: 10px;
}
.footer-menu > li {
    margin-bottom: 8px;
}
.footer-copyright {
    padding: 30px 0px 40px;
    border-top: 1px solid #E1E1E1;
    text-align: center;
}
.footer-copyright  p {
    font-size: 16px;
    color: #6E6E6E;
    margin-bottom: 0px;
}


/*       Login Page Css
================================= */
.sign-inup-sec {
    font-family: 'Proxima_Nova';
    padding: 60px 0px;
    min-height: 100%;
}
.sign-card-box {
    max-width: 553px;
    margin: 0px auto;
    padding: 35px 65px 40px;
    border: 1px solid rgba(112,112,112,0.19);
    border-radius: 48px;
    /* box-shadow: 5px 3px 6px rgba(0,0,0,0.16); */
    font-family: 'Proxima_Nova';
}
.sign-logo {
    max-width: 240px;
    margin-bottom: 40px;
}
.sign-head > h5 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 10px;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.16);
    text-transform: uppercase;
}
.sign-head > p {
    color: #888;
    margin-bottom: 0;
    line-height: 28px;
}
.sign-head {
    margin-bottom: 25px;
}
.form-icon-field {
    position: relative;
}
.form-field {
    height: 55px;
    color: #000;
    font-size: 18px;
    box-shadow: 5px 5px 10px 0px rgba(50,157,156, 0.13);
        border: 1px solid rgba(100, 206, 151,0.3);
    border-radius: 21px;
    padding: 10px 65px 10px 30px;
}
.form-field:focus {
    box-shadow: 5px 5px 10px 0px rgba(50,157,156, 0.2);
      border: 1px solid rgba(100, 206, 151,0.8);
}
span.field-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 5px 30px 5px 10px;
}
.sign-form .form-group {
    margin-bottom: 20px;
}
.sign-inup-fig {
    padding-right: 50px;
}
}
.signInUp-cont {
    padding-left: 85px;
}
.sign-inup-fig figure {
    margin-bottom: 30px;
}
.signInUp-cont h3 {
    font-weight: bold;
    font-size: 35px;
    color: #555555;
    margin-bottom: 20px;
}
.signInUp-cont > p {
    font-size: 21px;
    color: #565656;
    line-height: 35px;
}
.sign-options > p {
    font-size: 16px;
    color: #8B8B8B;
}
.sign-options > p > a {
    color: #25db30;
    font-weight: 600;
}
.sign-options > p > a:hover {
    color: #000;
    text-decoration: underline;
}
/*Checkboxes styles*/

.checkbox-field > input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.checkbox-field label {
  position: relative;
  cursor: pointer;
  margin-bottom: 0px;
  font-size: 16px;
  color: #8B8B8B;
}
.checkbox-field label > a {
    color: #25db30;
}
.checkbox-field label > a:hover {
    color: #000000;
    text-decoration: underline;
}
.checkbox-field label::before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #8B8B8B;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 5px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 3px;
  width: 18px;
  height: 18px;

}
.checkbox-field input:checked + label::after {
    content: '';
    display: block;
    position: absolute;
    top: 6px;
    left: 8px;
    width: 8px;
    height: 16px;
    border: solid #8b8b8b;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    background-color: #fff;
}
.card-ttl h4 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}

/*--------------------------12-04-21--------------------*/
.form-field {
    height: 48px;
    font-size: 16px;
    border-radius: 6px;
    padding: 7px 45px 7px 20px;
}
.sign-card-box {
    padding: 30px 35px 23px;
    border-radius: 14px;
}
.btn-theme {
    border-radius: 25px;
    padding: 10px 35px;
}
.form-submit.mt-lg-5.mt-4 {
    margin-top: 2rem !important;
}
span.field-icon {
    padding: 5px 20px 5px 10px;
}
.sign-head > h5 {
    margin-bottom: 5px;
}
.sign-logo {
    max-width: 220px;
    margin: 0 auto 20px;
}
.sign-head {
    margin-bottom: 15px;
}
.sign-inup-sec {
    padding: 45px 0px;
}
.sign-form {
    text-align: center;
}
.header-logo {
    max-width: 255px;
}

.theme-form {
    max-width: 900px;
    margin: 0px auto;
    border: 1px solid rgb(0 0 0 / 5%);
    box-shadow: 0 0 10px rgb(0 0 0 / 8%);
    border-radius: 6px;
    padding: 20px;
}